
.recommended-flex {
  display: flex;
  margin-left: 22rem;
}

.recommended-title {
  margin-left: 22rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
  
  .btns {
    
    padding: 8px 10px;
    margin-right: 10px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
    font-weight: 600;
    color: black;
  }  